<!-- About Section -->
    <section id="emprunter-un-jeu" data-offset="200px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Emprunter un jeu</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle rounded-circle img-responsive img-fluid" src="img/emprunter-un-jeu/adhesion.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1</h4>
                                    <h4 class="subheading">Adhérer à l'association</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Adhérer à l'association en suivant <br>le guide <a href="">en cliquant ici</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle rounded-circle img-responsive img-fluid" src="img/emprunter-un-jeu/myludo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2</h4>
                                    <h4 class="subheading">Rendez-vous sur my Ludo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sur myludo, vous pourrez voir quel jeu est emprunté, quels jeux sont disponibles et surtout, réservez votre jeu directement en ligne !</p>
                                    <a id="myludo-btn" class="btn btn-xs" href="">Cliquez ici pour accéder à myludo !</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle rounded-circle img-responsive img-fluid" src="img/emprunter-un-jeu/venir.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3</h4>
                                    <h4 class="subheading">Venez récupérer les jeux lors de nos rencontres</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vous pourrez ensuite venir à notre rencontre récupérer votre jeu.</p>
                                </div>
                            </div>
                        </li>
                        <!--<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle rounded-circle img-responsive img-fluid" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Rejoignez
                                    <br>Nous
                                    <br>!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>