<!-- Services Section -->
    <section id="l-association">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">L'association</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" id="association-image">
                    <img src="img/logo-long.png" alt="" class="img-fluid">                           
                </div>
                <div class="col-md-offset-1 col-md-8">
                    <p><span>Case Départ</span> a pour but de :
                        <ul>
                            <li>Case Départ vous propose un service de ludothèque avec jeux sur place et emprunt de jeux et jouets.
                                <br>Notre ambition est d'être accessible à tous, sans limite d'âge. 
                                <br>Nous voulons être pour nos adhérents un lieu de convivialité, d'échanges et de partage autour du jeu.</li>
                            <!--
                            <li>Faire découvrir la diversité des jeux existants et de leurs jouabilités afin que chacun puisse se reconnaître dans un style de jeu tout en encourageant le coté social et ludique des jeux proposés dans l'enceinte de l'association</li>
                            <li>Organiser des séances régulières de jeux de société, libres ou selon un thème déterminé</li>
                            <li>organiser des tournois autour d'un ou plusieurs jeux, gratuits ou moyennant une participation financière pour chaque participant</li>
                            <li>proposer ou participer à des événements et manifestations publiques ou privées pour promouvoir les activités ludiques, en partenariat avec les acteurs locaux, nationaux ou internationaux</li>
                            <li>proposer un espace consacré à la découverte de prototypes afin de promouvoir créateurs et éditeurs de jeu, amateurs ou professionnels</li>
                            -->
                        </ul>
                </div>
                <div class="col-md-offset-1 col-md-8">
                    <p><span>Lieux de permanence</span> (Retrouvez les dates sur l'actu du mois) :
                        <ul>
                            <li>La médiathèque de Lubersac</li>
                            <li>La médiathèque de Pompadour</li>
                            <li>La P'tite Fabrique Solidaire à Uzerche</li>
                            <li>L'Entre-Deux à Uzerche</li>
                        </ul>
                    <a href=""><img src="img/tipeee.png" alt="logo tipee de case depart ludotheque" class="img-fluid"></a>
                    <p id="tipeee-text">↪️ Retrouvez-nous <a href="" target="_blank">sur Tipee</a> et soutenez nous de manière ponctuelle ou régulière.
                    <br>C'est un vrai plus pour nous. Mille Merci !!! </p>
                </div>
                <!--<div class="col-md-offset-3 col-md-6 mt-3">
                    <img src="img/tipeee.png" alt="">
                </div>-->
            </div>
        </div>

    </section>






