<!-- Portfolio Modals -->
{% for post in site.posts %}
  <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr"><div class="rl"></div></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <p class="article-category">{{ post.category }}</p>
              <h2>{{ post.titre }}</h2>
              <hr class="star-primary">
              {% assign img = post.content | split: 'src="' | last | split: '"' | first %}
                        {% if img contains '.jpg' or img contains '.png' %}
                                <img src="{{ img }}" class="img-responsive img-centered" alt="image article {{ post.titre}}"> 
                        {% endif %}
              <p>{{ post.description | markdownify | newline_to_br }}</p>
              <ul class="list-inline item-details">
                <li>Date:
                  <strong><p>{{ post.datepost | newline_to_br }}</p></strong>
                </li>
                <li>Lieu:
                  <strong><p>{{ post.lieu | newline_to_br }}</p></strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-times"></i> Fermer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
